@font-face {
    font-family: 'IvyPresto Display';
    src: url('IvyPrestoDisplay-ThinItalic.woff2') format('woff2'),
        url('IvyPrestoDisplay-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IvyPresto Display';
    src: url('IvyPrestoDisplay-SemiBoldItalic.woff2') format('woff2'),
        url('IvyPrestoDisplay-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IvyPresto Display';
    src: url('IvyPrestoDisplay-LightItalic.woff2') format('woff2'),
        url('IvyPrestoDisplay-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IvyPresto Display';
    src: url('IvyPrestoDisplay-BoldItalic.woff2') format('woff2'),
        url('IvyPrestoDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IvyPresto Headline';
    src: url('IvyPrestoHeadline-SemiBold.woff2') format('woff2'),
        url('IvyPrestoHeadline-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IvyPresto Headline';
    src: url('IvyPrestoHeadline-Light.woff2') format('woff2'),
        url('IvyPrestoHeadline-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IvyPresto Headline';
    src: url('IvyPrestoHeadline-BoldItalic.woff2') format('woff2'),
        url('IvyPrestoHeadline-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IvyPresto Text';
    src: url('IvyPrestoText-Bold.woff2') format('woff2'),
        url('IvyPrestoText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IvyPresto Text';
    src: url('IvyPrestoText-Light.woff2') format('woff2'),
        url('IvyPrestoText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IvyPresto Text';
    src: url('IvyPrestoText-SemiBold.woff2') format('woff2'),
        url('IvyPrestoText-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IvyPresto Text';
    src: url('IvyPrestoText-Thin.woff2') format('woff2'),
        url('IvyPrestoText-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IvyPresto Headline';
    src: url('IvyPrestoHeadline-Thin.woff2') format('woff2'),
        url('IvyPrestoHeadline-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

