@font-face {
    font-family: 'Roabla - Demo Version';
    src: url('Roabla-DemoVersion-Regular.woff2') format('woff2'),
        url('Roabla-DemoVersion-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roabla - Demo Version';
    src: url('Roabla-DemoVersion-Regular.woff2') format('woff2'),
        url('Roabla-DemoVersion-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

